<html lang="en" layout:decorate="~{layout}"
						with:title="Cities"
						xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
						xmlns:th="http://www.thymeleaf.org"
						xmlns:with="http://www.thymeleaf.org/extras/with">
<th:block layout:fragment="content">
	<div class="main-content container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-12 col-md-6 order-md-1 order-last">
					<h3 th:text="#{label.add-employee}"></h3>
				</div>
				<div class="col-12 col-md-6 order-md-2 order-first">
					<nav aria-label="breadcrumb" class='breadcrumb-header'>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a class="text-success" th:href="@{/admin/dashboard}" th:text="#{label.dashboard}">
								</a>
							</li>
							<li aria-current="page" class="breadcrumb-item active" th:text="#{label.add-employee}"></li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		<!-- // Basic multiple Column Form section start -->
		<section id="multiple-column-form">
			<div class="row match-height">
				<div class="col-12">
					<div class="card">
						<div class="card-content">
							<div class="card-body">
								<form class="form" method="post" th:href="@{/admin/createAccount}" th:object="${employee}">
									<div class="row">
										
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.full-name.en}"></label>
												<div class="position-relative">
													<input class="form-control" id="first-name-icon" th:placeholder="#{placeholder.full-name.en}" type="text">
													<div class="form-control-icon">
														<i class="fa fa-user"></i>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.full-name.ru}"></label>
												<div class="position-relative">
													<input class="form-control" id="first-name-icon" th:placeholder="#{placeholder.full-name.ru}" type="text">
													<div class="form-control-icon">
														<i class="fa fa-user"></i>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.email-address}"></label>
												<div class="position-relative">
													<input class="form-control" id="first-name-icon" th:placeholder="#{placeholder.email-address}" type="text">
													<div class="form-control-icon">
														<i class="fa fa-envelope"></i>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.birth-day}"></label>
												<div class="position-relative">
													<input class="form-control" id="first-name-icon" type="date">
													<div class="form-control-icon">
														<i class="fa fa-calendar"></i>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.hired-date}"></label>
												<div class="position-relative">
													<input class="form-control" id="first-name-icon" type="date">
													<div class="form-control-icon">
														<i class="fa fa-calendar-check"></i>
													</div>
												</div>
											</div>
										</div>
										
										
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.gender}"></label>
												<div class="position-relative">
													<fieldset class="form-group">
														<select class="form-select" id="basicSelect">
															<option>Male</option>
															<option>Female</option>
														</select>
													</fieldset>
												</div>
											</div>
										</div>
										
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.mobile-number}"></label>
												<div class="position-relative">
													<input class="form-control" id="first-name-icon" th:placeholder="#{placeholder.mobile-number}" type="text">
													<div class="form-control-icon">
														<i class="fa fa-mobile"></i>
													</div>
												</div>
											</div>
										</div>
										
										
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.phone-ext}"></label>
												<div class="position-relative">
													<input class="form-control" id="first-name-icon" th:placeholder="#{placeholder.phone-ext}" type="text">
													<div class="form-control-icon">
														<i class="fa fa-phone"></i>
													</div>
												</div>
											</div>
										</div>
										<!--<div class="col-md-3 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon">Profile</label>
												<div class="position-relative">
													<input class="form-control" id="first-name-icon" placeholder="" type="file">
													<div class="form-control-icon">
														<i class="fa fa-user"></i>
													</div>
												</div>
											</div>
										</div>-->
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.roles}"></label>
												<div class="position-relative">
													<fieldset class="form-group">
														<select class="form-select" id="basicSelect">
															<option>ADMIN</option>
															<option>MANAGER</option>
															<option>HR</option>
															<option>EMPLOYEE</option>
														</select>
													</fieldset>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-12">
											<div class="form-group">
												<label for="country-floating" th:text="#{label.department}"></label>
												<fieldset class="form-group">
													<select class="form-select" id="basicSelect">
														<option>IT</option>
														<option>ENGINEERING</option>
														<option>HR</option>
														<option>FINANCE</option>
													</select>
												</fieldset>
											</div>
										</div>
										<div class="col-md-4 col-12">
											<div class="form-group">
												<label for="company-column" th:text="#{label.designation}"></label>
												<fieldset class="form-group">
													<select class="form-select" id="basicSelect">
														<option>IT</option>
														<option>MANAGER</option>
														<option>SUPERVISOR</option>
														<option>ENGINEER</option>
													</select>
												</fieldset>
											</div>
										</div>
										<div class="col-md-4 col-12">
											<div class="form-group">
												<label for="country-floating" th:text="#{label.manager}"></label>
												<fieldset class="form-group">
													<select class="form-select" id="basicSelect">
														<option>Diana Zhumalieva</option>
														<option>Talgat Nurbaev</option>
														<option>Daniyar Arynov</option>
														<option>Bekzat Alimov</option>
													</select>
												</fieldset>
											</div>
										</div>
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="contact-name-icon" th:text="#{label.contact.full-name}"></label>
												<div class="position-relative">
													<input class="form-control" id="contact-name-icon" th:placeholder="#{placeholder.contact.full-name}" type="text"/>
													<div class="form-control-icon">
														<i class="fa fa-user"></i>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.contact.mobile-number}"></label>
												<div class="position-relative">
													<input class="form-control" id="first-name-icon" th:placeholder="#{placeholder.contact.mobile-number}"
																				type="text">
													<div class="form-control-icon">
														<i class="fa fa-phone"></i>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-4 col-12">
											<div class="form-group has-icon-left">
												<label for="first-name-icon" th:text="#{label.contact.email-address}"></label>
												<div class="position-relative">
													<input class="form-control" id="first-name-icon" th:placeholder="#{placeholder.contact.email-address}"
																				type="text">
													<div class="form-control-icon">
														<i class="fa fa-envelope"></i>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-12 d-flex justify-content-end">
											<button class="btn btn-primary me-1 mb-1" th:text="#{label.submit.button}" type="submit"></button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- // Basic multiple Column Form section end -->
	</div>
</th:block>
</html>
