<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" with:title="Phone Book"
						xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
						xmlns:th="http://www.thymeleaf.org"
						xmlns:with="http://www.thymeleaf.org/extras/with">
<th:block layout:fragment="content">
	<div class="main-content container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-12 col-md-6 order-md-1 order-last">
					<h3 th:utext="#{label.manage-designation}"></h3>
				</div>
				<div class="col-12 col-md-6 order-md-2 order-first">
					<nav aria-label="breadcrumb" class='breadcrumb-header'>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a class="text-success" href="index.html" th:utext="#{label.dashboard}">Dashboard</a>
							</li>
							<li aria-current="page" class="breadcrumb-item active" th:utext="#{label.manage-designation}">
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		<section class="section">
			<div class="card">
				<div class="card-header">
					<form method="post" th:action="@{/admin/manage_designation/}">
						<div th:replace="fragments/global_fragments :: search"></div>
					</form>
				</div>
				<div class="card-body">
					<table class='table' id="table1">
						<thead>
						<tr>
							<th>#</th>
							<th th:utext="#{table.designation.positionName}"></th>
							<th th:utext="#{table.department.department-name}"></th>
							<th th:utext="#{table.designation.positionDescription}"></th>
							<th th:utext="#{table.designation.creation.date}"></th>
							<th th:utext="#{table.label.action}"></th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="position,i : ${positions}">
							<td th:text="${i.count}"></td>
							<td th:text="${#locale.toString()== 'en' ? position.positionNameEN : position.positionNameRU}"></td>
							<td th:text="${#locale.toString() == 'en' ? position.department.departmentNameEN : position.department.departmentNameRU}"></td>
							<td th:text="${position.positionDescription}"></td>
							<td th:text="${#dates.format(position.creationTime,'dd/MMM/yyyy')}"></td>
							
							<td><a  id="editDesignation" th:href="@{/admin/edit_designation/{id}(id=${position.id})}"><i class="fa fa-pen text-success"></i></a>
								<a th:href="@{/admin/delete_designtion/{id}(id=${position.id})}"><i class="fa fa-trash text-danger dbtn"></i></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer" th:replace="fragments/global_fragments :: pagination(${positions})"></div>
			</div>
		</section>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<div class="alert alert-danger alert-dismissible fade show" th:unless="${#strings.isEmpty(error)}">
						<span class="text-dark" th:utext="${error}"></span>
						<button class="btn-close" data-bs-dismiss="alert" type="button"></button>
					</div>
				</div>
				<div class="modal-body">
					
					<form class="form form-vertical" method="post" th:action="@{/admin/add_designation}" th:object="${position}">
						<div class="form-body">
							<div class="row">
								<div class="col-12">
									<div class="form-group has-icon-left">
										<label for="positionNameEN" th:utext="#{label.designation.full-name.en}"></label>
										<div class="position-relative">
											<input class="form-control" id="positionNameEN"
																		th:field="*{positionNameEN}" value="" type="text">
											<div class="form-control-icon">
												<i class="fa fa-user"></i>
											</div>
										</div>
										<ul class="text-danger" th:errors="*{positionNameEN}" th:if="${#fields.hasErrors('positionNameEN')}">
											<li th:each="error : ${#fields.errors('positionNameEN')}" th:text="${error}">error</li>
										</ul>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group has-icon-left">
										<label for="positionNameRU" th:utext="#{label.designation.full-name.en}"></label>
										<div class="position-relative">
											<input class="form-control" id="positionNameRU"
																		th:field="*{positionNameRU}" value="" type="text">
											<div class="form-control-icon">
												<i class="fa fa-user"></i>
											</div>
										</div>
										<ul class="text-danger" th:errors="*{positionNameRU}" th:if="${#fields.hasErrors('positionNameEN')}">
											<li th:each="error : ${#fields.errors('positionNameEN')}" th:text="${error}">error</li>
										</ul>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group has-icon-left">
										<label for="positionDescription" th:utext="#{label.designation.full-name.en}"></label>
										<div class="position-relative">
											<input class="form-control" id="positionDescription"
																		th:field="*{positionDescription}" value="" type="text">
											<div class="form-control-icon">
												<i class="fa fa-user"></i>
											</div>
										</div>
										<ul class="text-danger" th:errors="*{positionDescription}" th:if="${#fields.hasErrors('positionNameEN')}">
											<li th:each="error : ${#fields.errors('positionDescription')}" th:text="${error}">error</li>
										</ul>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label for="department" th:text="#{label.department}"></label>
										<fieldset class="form-group">
											<select class="form-select" id="department" th:field="*{department.id}">
											</select>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</form>
				
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{label.close.button}">Close</button>
					<button class="btn btn-primary me-1 mb-1" th:utext="#{label.submit.button}" type="submit">Submit</button>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="modal_script">
	<script type="text/javascript">
	$(document).ready(function () {
		 $('#editDesignation').on('click',function (event) {
       event.preventDefault();
       var department = "";
       var href = $(this).attr('href');
       $.get(href,function (designation) {
           department += "<option value = '" + designation.department.id + " '>" + designation.department.departmentNameEN + " </option>";
										$('#positionNameEN').val(designation.positionNameEN);
										$('#positionNameRU').val(designation.positionNameRU);
										$('#positionDescription').val(designation.positionDescription);
										$('#department').append(department);
       });
      $('#exampleModal').modal("show");
   });
		 $('#department').on('click',function () {
							var department = "";
						$.get("/admin/get_departments",function (departments) {
						    $.each(departments,function (index, d) {
														$('#department').append("<option value= '"+d.id+"'>" +d.departmentNameEN + "</option>" );
          });
      });
   });
 });
	</script>
</th:block>
</html>
