<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" with:title="Phone Book"
						xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
						xmlns:th="http://www.thymeleaf.org"
						xmlns:with="http://www.thymeleaf.org/extras/with">
<th:block layout:fragment="content">
	<div class="main-content container-fluid">
		<div class="page-title">
			<div class="row">
				<div class="col-12 col-md-6 order-md-1 order-last">
					<h3 th:utext="#{label.manage-designation}"></h3>
				</div>
				<div class="col-12 col-md-6 order-md-2 order-first">
					<nav aria-label="breadcrumb" class='breadcrumb-header'>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a class="text-success" href="index.html" th:utext="#{label.dashboard}">Dashboard</a>
							</li>
							<li aria-current="page" class="breadcrumb-item active" th:utext="#{label.manage-designation}">
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		<section class="section">
			<div class="card">
				<div class="card-header">
					<form method="post" th:action="@{/admin/manage_designation/}">
						<div th:replace="fragments/global_fragments :: search"></div>
					</form>
				</div>
				<div class="card-body">
					<table class='table' id="table1">
						<thead>
						<tr>
							<th>#</th>
							<th th:utext="#{table.designation.positionName}"></th>
							<th th:utext="#{table.department.department-name}"></th>
							<th th:utext="#{table.designation.positionDescription}"></th>
							<th th:utext="#{table.designation.creation.date}"></th>
							<th th:utext="#{table.label.action}"></th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="position,i : ${positions}">
							<td th:text="${i.count}"></td>
							<td th:text="${#locale.toString()== 'en' ? position.positionNameEN : position.positionNameRU}"></td>
							<td th:text="${#locale.toString() == 'en' ? position.department.departmentNameEN : position.department.departmentNameRU}"></td>
							<td th:text="${position.positionDescription}"></td>
							<td th:text="${#dates.format(position.creationTime,'dd/MMM/yyyy')}"></td>
							<td><a class="ebtn" th:href="@{/admin/edit_designation/{id}(id=${position.id})}">
								<i class="fa fa-pen text-success"></i></a>
								<a th:href="@{/admin/delete_designtion/{id}(id=${position.id})}">
									<i class="fa fa-trash text-danger dbtn"></i></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer" th:replace="fragments/global_fragments :: pagination(${positions})"></div>
			</div>
		</section>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="modalUpdateLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalUpdateLabel" th:utext="#{modal.designation.title}"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div  id="error-dialog" style="display: none">
						<button class="btn-close" data-bs-dismiss="alert" type="button"></button>
					</div>
					<form id="updateForm">
						<div class="mb-1">
							<input type="hidden" class="form-control" id="id" name="id"/>
						</div>
						<div class="mb-1">
							<label for="positionNameEN" class="form-label" th:utext="#{label.designation.full-name.en}"></label>
							<input type="text" class="form-control" id="positionNameEN" name="positionNameEN"/>
						</div>
						<div class="mb-1">
							<label for="positionNameRU" class="form-label" th:utext="#{label.designation.full-name.ru}"></label>
							<input type="text" class="form-control" id="positionNameRU" name="positionNameRU"/>
						</div>
						<div class="mb-1">
							<label for="positionDescription" class="form-label" th:utext="#{label.designation.full-name.ru}"></label>
							<textarea id="positionDescription" class="form-control" name="positionDescription"></textarea>
						</div>
						<div class="mb-0">
							<label for="department" th:utext="#{label.department}"></label>
							<select id="department" class="form-select">
							</select>
						</div>
					
						<div class="modal-footer">
							<button class="btn btn-danger" data-bs-dismiss="modal" aria-hidden="true">Close</button>
							<button type="submit" class="btn btn-warning float-end" id="update">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
