<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/css/assets/bootstrap/bootstrap.css}">
	<script defer th:src="@{/css/assets/fontawesome/js/all.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div id="auth">
	
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-12 mx-auto">
				<div class="card pt-4">
					<div class="card-body">
						<div class="text-center mb-5">
							<h3 th:utext="#{login.title}"></h3>
						</div>
						<form action="employee.html">
							<div class="form-group position-relative has-icon-left">
								<label for="username" th:utext="#{label.email}"></label>
								<div class="position-relative">
									<input class="form-control" id="username" type="text">
									<div class="form-control-icon">
										<i class="fa fa-user"></i>
									</div>
								</div>
							</div>
							<div class="form-group position-relative has-icon-left">
								<div class="clearfix">
									<label for="password" th:utext="#{label.password}"></label>
									<a class='float-end' href="#">
										<small th:utext="#{label.forgot.password}"></small>
									</a>
								</div>
								<div class="position-relative">
									<input class="form-control" id="password" type="password">
									<div class="form-control-icon">
										<i class="fa fa-key"></i>
									</div>
								</div>
							</div>
							<div class="clearfix">
								<button class="btn btn-primary float-end" th:utext="#{label.login}"></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/js/feather-icons/feather.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
