<th:block layout:fragment="end"
										xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
										xmlns:th="http://www.thymeleaf.org">
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/feather-icons/feather.min.js}"></script>
	<script th:src="@{/css/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/js/app.js}"></script>
	<script th:src="@{/css/assets/vendors/chartjs/Chart.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</th:block>
