<head xmlns:th="http://www.thymeleaf.org">
	<title th:text="${title}">ELMS, template</title>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet">
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
<!--	<script defer th:src="@{/css/assets/fontawesome/js/all.min.js}"></script>-->
	<link th:href="@{/css/assets/vendors/chartjs/Chart.min.css}" rel="stylesheet">
	<link th:href="@{/css/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet">
	<link th:href="@{/css/app.css}" rel="stylesheet">
	<style type="text/css">
		.notif:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	</style>
</head>
