<div class='active' id="sidebar" xmlns:th="http://www.thymeleaf.org">
	<div class="sidebar-wrapper active">
		<div class="sidebar-header" style="height: 50px;margin-top: -30px">
			<i class="fa fa-users text-success me-4"></i>
			<span>ELMS</span>
		</div>
		<div class="sidebar-menu">
			<ul class="menu">
				<li class="sidebar-item active ">
					<a class='sidebar-link' th:href="@{/manager/dashboard}">
						<i class="fa fa-home text-success"></i>
						<span th:utext="#{label.dashboard}"></span>
					</a>
				</li>
				<li class="sidebar-item  has-sub">
					<a class='sidebar-link' href="#">
						<i class="fa fa-building text-success"></i>
						<span th:utext="#{label.department}"></span>
					</a>
					<ul class="submenu">
						<li>
							<a th:href="@{/admin/add_department}" th:utext="#{label.add-department}"></a>
						</li>
						<li>
							<a th:href="@{/admin/manage_department}" th:utext="#{label.manage-department}"></a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item  has-sub">
					<a class='sidebar-link' href="#">
						<i class="fa fa-map-pin text-success"></i>
						<span th:utext="#{label.designation}"></span>
					</a>
					<ul class="submenu ">
						<li>
							<a th:href="@{/admin/add_designation}" th:utext="#{label.add-designation}">
								<i class="fa fa-plus-circle"></i>
							</a>
						</li>
						<li>
							<a th:href="@{/admin/manage_designation}" th:utext="#{label.manage-designation}"></a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item  has-sub">
					<a class='sidebar-link' href="#">
						<i class="fa fa-certificate text-success"></i>
						<span th:utext="#{label.certificate}"></span>
					</a>
					<ul class="submenu ">
						<li>
							<a th:href="@{/admin/add_certificate}" th:utext="#{label.add-certificate}"></a>
						</li>
						<li>
							<a th:href="@{/admin/manage_certificates}" th:utext="#{label.manage-certificate}"></a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item  has-sub">
					<a class='sidebar-link' href="#">
						<i class="fa fa-users text-success"></i>
						<span th:utext="#{label.employee}"></span>
					</a>
					<ul class="submenu ">
						<li>
							<a th:href="@{/admin/add_employee}" th:utext="#{label.add-employee}"></a>
						</li>
						<li>
							<a th:href="@{/admin/manage_employee}" th:utext="#{label.manage-employee}"></a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item  has-sub">
					<a class='sidebar-link' href="#">
						<i class="fa fa-plane-departure text-success"></i>
						<span th:utext="#{label.leave-type}"></span>
					</a>
					<ul class="submenu ">
						<li>
							<a th:href="@{/admin/add_leave_type}" th:utext="#{label.add-leave-type}"></a>
						</li>
						<li>
							<a th:href="@{/admin/manage_leave_types}" th:utext="#{label.manage-leave-type}"></a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item  has-sub">
					<a class='sidebar-link' href="#">
						<i class="fa fa-chart-pie text-success"></i>
						<span th:utext="#{label.leave-management}">Leave Management</span>
					</a>
					<ul class="submenu ">
						<li>
							<a th:href="@{/admin/all_leaves}" th:utext="#{label.all-leaves}">All Leaves</a>
						</li>
						<li>
							<a th:href="@{/manager/pending_leaves}" th:utext="#{label.pending-leaves}">Pending Leaves</a>
						</li>
						<li>
							<a th:href="@{/manager/approved_leaves}" th:utext="#{label.approved-leaves}">Approve Leaves</a>
						</li>
						<li>
							<a th:href="@{/manager/not_approved_leaves}" th:utext="#{label.not-approved-leaves}">Not Approve Leaves</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item ">
					<a class='sidebar-link' th:href="@{/admin/reports}">
						<i class="fa fa-chart-bar text-success"></i>
						<span th:utext="#{label.reports}">Reports</span>
					</a>
				</li>
			</ul>
		</div>
		<button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
	</div>
</div>
